doctype html
html
    head 
        title #{titulo}
        meta(charset="utf-8")
        link(rel="stylesheet" href="main.css")

    body 
        main 
            h1 #{titulo}
            figure 
                img(src=imagen)
                figcaption #{texto}
            each perro in perros 
                li #{perro.raza} &nbsp; | &nbsp;